@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face{
    font-family: Halo;
    src: url(../fonts/Halo.ttf);
}


/* Nav */

nav.menu-lateral{
    width: 300px;
    height: 100%;
    background-color: black;
    padding: 40px 0 40px 1%;
}

.btn-expandir{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;    
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
}

ul li.item-menu a .text-link{
    margin-left: 40px;
}

/* Tabala de novidades novidades */
#tabela{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

#boxNovidades{
    height: 500px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}

.botaoTabela{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}


#CaixaNovidades{
    width: 80%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.5583368347338936) 100%);
    border-radius: 80px;
    margin: 0 auto;
}
/* ----------------------------------- */

.imagemç{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#image1{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../img/paralax1-1\ 1.svg );
}

#image2{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../img/paralax4\ 1.svg );
   
}

#image3{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../img/paralax-6\ 1.svg );
   
}

#image4{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url(../img/paralax-7\ 1.svg );
   
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    width: 750px;
}

.select-clicked{
    border: 2px #26489a solid;
    box-shadow:  0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: block;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(0%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #2a2d35;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}

a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width : 990px) {
    .select{
       width: 90%;
    }
}
