*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.animated-link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    position: relative;
    padding-bottom: 5px;
}

.animated-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

.animated-link:hover::after {
    width: 100%;
}
